<section id="new_draw">

<input id="drawing_name" type="text" placeholder="Name your drawing"/>

<canvas id="drawing_content">
	
</canvas>

<a href="#" id="drawing_submit">Submit drawing</a>

</section>


{{#extend "scripts"}}
	<script type="text/javascript" src="/js/new_draw.js"></script>
{{/extend}}
